{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>News</h1>

        ON EST DANS NEWS
        This friendly message is coming from:
        <ul>
            <li>Your controller at <code><a href="{{ 'C:/xampp/htdocs/Symfony4Cours/SymfonyProject/Eddy-s-Bonnets/src/Controller/HomeController.php'|file_link(0) }}">src/Controller/HomeController.php</a></code></li>
            <li>Your template at <code><a href="{{ 'C:/xampp/htdocs/Symfony4Cours/SymfonyProject/Eddy-s-Bonnets/templates/home/news.html.twig'|file_link(0) }}">templates/home/news.html.twig</a></code></li>
        </ul>
    </div>

    <br>
    <br>
    <br>
    {% for valeur in mesnews|reverse %}
        <ul>
            {% if loop.index is odd  %}
                <li> {{ loop.index }}</li>
            {%else%}
            test
            {% endif %}
            <li>{{valeur.id}} </li>
            <li>{{valeur.titre}} </li>
            <li>{{valeur.textnews}} </li>
            <li>{{valeur.datenews|date('d/m/Y')}} </li>
        </ul>
    {% endfor %}   


    <section class="white-wrapper">
        <div class="section-inner">
            <div class="container">
                <div class="row mb60 text-center">
                    <div class="col-sm-12">
                        <h3 class="section-title">News List</h3>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-6 nopaddingleftright blog-list-item mb90">
                            <div class="hover-effect smoothie mb40">
                                <a href="#" class="smoothie">
                                    <img src="assets/images/blog/blog-1.jpg" alt="Image" class="img-responsive smoothie"></a>
                                <div class="hover-overlay smoothie text-center">
                                    <div class="vertical-align-bottom">
                                        <h4>The Glamorous Lifestyle</h4>
                                        <span class="item-category-span">Lifestyle</span>
                                    </div>
                                </div>
                                <div class="hover-caption dark-overlay smoothie text-center">
                                    <div class="vertical-align-bottom">
                                        <a href="single-post.html" class="btn btn-primary pull-right mb20">Read Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="col-sm-6 nopaddingleftright blog-list-item mb90">
                            <p class="mb20">Professionally engage excellent manufactured products whereas go forward synergy. Collaboratively synergize sticky ideas before client-centric markets. Rapidiously synergize distinctive potentialities whereas team driven channels. Objectively deploy distinctive data whereas bricks-and-clicks bandwidth. Seamlessly fashion vertical intellectual capital and magnetic e-business.</p>
                        </div>



                        <div class="col-sm-12 nopaddingleftright blog-list-item mb90">
                            <div class="hover-effect smoothie mb40">
                                <a href="#" class="smoothie">
                                    <img src="assets/images/blog/blog-2.jpg" alt="Image" class="img-responsive smoothie"></a>
                                <div class="hover-overlay smoothie text-center">
                                    <div class="vertical-align-bottom">
                                        <h4>The Glamorous Lifestyle</h4>
                                        <span class="item-category-span">Lifestyle</span>
                                    </div>
                                </div>
                                <div class="hover-caption dark-overlay smoothie text-center">
                                    <div class="vertical-align-bottom">
                                        <a href="single-post.html" class="btn btn-primary pull-right mb20">Read Now</a>
                                    </div>
                                </div>
                            </div>
                            <p class="mb20">Professionally engage excellent manufactured products whereas go forward synergy. Collaboratively synergize sticky ideas before client-centric markets. Rapidiously synergize distinctive potentialities whereas team driven channels. Objectively deploy distinctive data whereas bricks-and-clicks bandwidth. Seamlessly fashion vertical intellectual capital and magnetic e-business.</p>
                            <a href="single-post.html" class="btn btn-primary pull-right">Read Now</a>
                        </div>
                        <div class="col-sm-12 nopaddingleftright blog-list-item mb90">
                            <div class="hover-effect smoothie mb40">
                                <a href="#" class="smoothie">
                                    <img src="assets/images/blog/blog-3.jpg" alt="Image" class="img-responsive smoothie"></a>
                                <div class="hover-overlay smoothie text-center">
                                    <div class="vertical-align-bottom">
                                        <h4>The Glamorous Lifestyle</h4>
                                        <span class="item-category-span">Lifestyle</span>
                                    </div>
                                </div>
                                <div class="hover-caption dark-overlay smoothie text-center">
                                    <div class="vertical-align-bottom">
                                        <a href="single-post.html" class="btn btn-primary pull-right mb20">Read Now</a>
                                    </div>
                                </div>
                            </div>
                            <p class="mb20">Professionally engage excellent manufactured products whereas go forward synergy. Collaboratively synergize sticky ideas before client-centric markets. Rapidiously synergize distinctive potentialities whereas team driven channels. Objectively deploy distinctive data whereas bricks-and-clicks bandwidth. Seamlessly fashion vertical intellectual capital and magnetic e-business.</p>
                            <a href="single-post.html" class="btn btn-primary pull-right">Read Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

