{% extends 'base.html.twig' %}

{% block title %}Eddy's Admin | Fan Details{% endblock %}

{% block body %}


    <section class="white-wrapper">
        <div class="section-inner">
            <div class="container">
                <div class="row mb60 text-center">
                    <div class="col-sm-12">
                        <h3 class="section-title">Fan détails</h3>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row mb40">






                    <div class="container">
                        <div class="row mb40">

                            <table class="table">
                                <thead>  <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="col-sm-12">
                                                <div class="col-sm-6">
                                                    <strong>ID: </strong>
                                                </div>
                                                <div class="col-sm-6">
                                                    {{fan.id}}
                                                </div>
                                            </div>
                                        </td>
                                    </tr>   

                                    <tr>
                                        <td>
                                            <div class="col-sm-12">
                                                <div class="col-sm-6">
                                                    <strong>IS ADMIN:  </strong>
                                                </div>
                                                <div class="col-sm-6">
                                                    {% if fan.isadmin == 1 %}
                                                        oui
                                                    {% else %}
                                                        non
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </td>
                                    </tr> 

                                    <tr>
                                        <td>
                                            <div class="col-sm-12">
                                                <div class="col-sm-6">
                                                    <strong>PSEUDO:  </strong>
                                                </div>
                                                <div class="col-sm-6">
                                                    {{fan.pseudo}}
                                                </div>
                                            </div>
                                        </td>
                                    </tr>  

                                    <tr>
                                        <td>
                                            <div class="col-sm-12">
                                                <div class="col-sm-6">
                                                    <strong>EMAILL:  </strong>
                                                </div>
                                                <div class="col-sm-6">
                                                    {{fan.email}}
                                                </div>
                                            </div>
                                        </td>
                                    </tr> 

                                    <tr>
                                        <td>
                                            <div class="col-sm-12">
                                                <div class="col-sm-6">
                                                    <strong>AVATAR: </strong>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="col-sm-12 nopaddingleftright">

                                                        <div class="col-sm-12 nopaddingleftright">
                                                            <img src="{{ asset('/dossierFichiers/' ~ fan.avatar)}}" alt="Image" class="img-responsive smoothie">
                                                        </div>  

                                                    </div> 
                                                </div>
                                            </div>
                                        </td>
                                    </tr>       



                                    <tr>
                                        <td>
                                            <div class="col-sm-12">
                                                <div class="col-sm-6">
                                                    <strong>COMMENTAIRES: </strong>
                                                </div>
                                                <div class="col-sm-6">

                                                    {% for comment in fan.fanComments|reverse %}

                                                        <div class="col-sm-12 nopaddingleftright">

                                                            <div class="col-sm-8 nopaddingleftright">                                                               
                                                                {{comment.textcomment}}                                                              
                                                            </div>  
                                                            <div class="col-sm-4">
                                                                <div class="col-sm-12">
                                                                    <strong>LOOK: </strong><a href="{{'/looks/one/' ~ comment.idlook.id}}" class="">{{comment.idlook.description}}</a>
                                                                </div>
                                                                <br>
                                                                <div class="col-sm-12">
                                                                    <strong>DATE: </strong>{{comment.datecomment|date('d/m/Y')}}
                                                                </div>                                                                
                                                                <div class="col-sm-12 text-right">
                                                                    <br>
                                                                    <a class="btn btn-primary mt30 " href="/zone/admin/fan/comments/delete/{{comment.id}}">Supprimer</a>
                                                                </div>
                                                            </div> 
                                                            <div class="col-sm-12">
                                                                <hr>
                                                            </div>

                                                        </div> 

                                                    {% endfor %}


                                                </div>
                                            </div>
                                        </td>
                                    </tr>    

                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="col-sm-4 col-sm-offset-4">
                        <div class="text-center">        
                            <a class="btn btn-primary mt30 btn-lg btn-block" href="/zone/admin/fans/delete/{{fan.id}}">Supprimer</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
