<ul>
<li>{{news.id}} </li>
<li>{{news.titre}} </li>
<li>{{news.accroche}} </li>
<li>{{news.textnews}} </li>
<li>{{news.datenews|date('d/m/Y')}} </li>
<li>{{news.picturenews}} </li>
</ul>

<a class="btn" href="/zone/admin/news/delete/{{news.id}}">Supprimer</a>
