{% extends 'base.html.twig' %}

{% block title %}Eddy's Admin | Concours Details{% endblock %}

{% block body %}


    <section class="white-wrapper">
        <div class="section-inner">
            <div class="container">
                <div class="row mb60 text-center">
                    <div class="col-sm-12">
                        <h3 class="section-title">Concours détails</h3>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row mb40">






                    <div class="container">
                        <div class="row mb40">

                            <table class="table">
                                <thead>  <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="col-sm-12">
                                                <div class="col-sm-6">
                                                    <strong>ID: </strong>
                                                </div>
                                                <div class="col-sm-6">
                                                    {{concours.id}}
                                                </div>
                                            </div>
                                        </td>
                                    </tr>                           

                                    <tr>
                                    <tr>
                                        <td>
                                            <div class="col-sm-12">
                                                <div class="col-sm-6">
                                                    <strong>GAGNANT: </strong>
                                                </div>
                                                <div class="col-sm-6">
                                                    {% if concours.gagnant != null %}
                                                        <div class="col-sm-12 nopaddingleftright">

                                                            <div class="col-sm-6 nopaddingleftright">
                                                                <img src="{{ asset('/dossierFichiers/' ~ concours.gagnant.picture)}}" alt="Image" class="img-responsive smoothie">
                                                            </div>  

                                                            <div class="col-sm-6">
                                                                <div class="col-sm-12">
                                                                    <a href="{{'/looks/one/' ~ concours.gagnant.id}}" class="">DETAILS</a>
                                                                </div>
                                                                <br>
                                                                <div class="col-sm-12">
                                                                    {{concours.gagnant.description}}
                                                                </div> 
                                                            </div> 
                                                            <div class="col-sm-12">
                                                                <hr>
                                                            </div>

                                                        </div> 
                                                    {% else %}
                                                        en cours
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </td>
                                    </tr>       

                                    <tr>
                                        <td>
                                            <div class="col-sm-12">
                                                <div class="col-sm-6">
                                                    <strong>THEME :  </strong>
                                                </div>
                                                <div class="col-sm-6">
                                                    {{concours.theme}}
                                                </div>
                                            </div>
                                        </td>
                                    </tr>     

                                    <tr>
                                        <td>
                                            <div class="col-sm-12">
                                                <div class="col-sm-6">
                                                    <strong>DATE DEBUT: </strong>
                                                </div>
                                                <div class="col-sm-6">
                                                    {{concours.datedebut|date('d/m/Y')}}
                                                </div>
                                            </div>
                                        </td>
                                    </tr>  

                                    <tr>
                                        <td>
                                            <div class="col-sm-12">
                                                <div class="col-sm-6">
                                                    <strong>DATE FIN: </strong>
                                                </div>
                                                <div class="col-sm-6">
                                                    {{concours.datefin|date('d/m/Y')}}
                                                </div>
                                            </div>
                                        </td>
                                    </tr> 

                                    <tr>
                                        <td>
                                            <div class="col-sm-12">
                                                <div class="col-sm-6">
                                                    <strong>PARTICIPANTS: </strong>
                                                </div>
                                                <div class="col-sm-6">

                                                    {% for valeur in concours.looks %}

                                                        <div class="col-sm-12 nopaddingleftright">

                                                            <div class="col-sm-6 nopaddingleftright">
                                                                <img src="{{ asset('/dossierFichiers/' ~ valeur.picture)}}" alt="Image" class="img-responsive smoothie">
                                                            </div>  

                                                            <div class="col-sm-6">
                                                                <div class="col-sm-12">
                                                                    <a href="{{'/looks/one/' ~ valeur.id}}" class="">DETAILS</a>
                                                                </div>
                                                                <br>
                                                                <div class="col-sm-12">
                                                                    {{valeur.description}}
                                                                </div> 
                                                            </div> 
                                                            <div class="col-sm-12">
                                                                <hr>
                                                            </div>

                                                        </div> 

                                                    {% endfor %}


                                                </div>
                                            </div>
                                        </td>
                                    </tr>    

                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="col-sm-4 col-sm-offset-4">
                        <div class="text-center">        
                            <a class="btn btn-primary mt30 btn-lg btn-block" href="/zone/admin/concours/delete/{{concours.id}}">Supprimer</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}