{% extends 'base.html.twig' %}

{% block title %}Eddy's Admin | News Details{% endblock %}


{% block body %}


    <section class="white-wrapper">
        <div class="section-inner">
            <div class="container">
                <div class="row mb60 text-center">
                    <div class="col-sm-12">
                        <h3 class="section-title">News détails</h3>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row mb40">




                    <div class="container">
                        <div class="row mb40">

                            <table class="table">
                                <thead>  <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="col-sm-12">
                                                <div class="col-sm-6">
                                                    <strong>ID: </strong>
                                                </div>
                                                <div class="col-sm-6">
                                                    {{news.id}}
                                                </div>
                                            </div>
                                        </td>
                                    </tr>                           

                                    <tr>
                                    <tr>
                                        <td>
                                            <div class="col-sm-12">
                                                <div class="col-sm-6">
                                                    <strong>ACCROCHE: </strong>
                                                </div>
                                                <div class="col-sm-6">
                                                    {{news.accroche}} 
                                                </div>
                                            </div>
                                        </td>
                                    </tr>       

                                    <tr>
                                        <td>
                                            <div class="col-sm-12">
                                                <div class="col-sm-6">
                                                    <strong>TITRE: </strong>
                                                </div>
                                                <div class="col-sm-6">
                                                    {{news.titre}} 
                                                </div>
                                            </div>
                                        </td>
                                    </tr>    

                                    <tr>
                                        <td>
                                            <div class="col-sm-12">
                                                <div class="col-sm-6">
                                                    <strong>CONTENU: </strong>
                                                </div>
                                                <div class="col-sm-6">
                                                    {{news.textnews}}
                                                </div>
                                            </div>
                                        </td>
                                    </tr>    

                                    <tr>
                                        <td>
                                            <div class="col-sm-12">
                                                <div class="col-sm-6">
                                                    <strong>DATE: </strong>
                                                </div>
                                                <div class="col-sm-6">
                                                    {{news.datenews|date('d/m/Y')}} 
                                                </div>
                                            </div>
                                        </td>
                                    </tr>    

                                    <tr>
                                        <td>
                                            <div class="col-sm-12">
                                                <div class="col-sm-6">
                                                    <strong>IMAGE: </strong>
                                                </div>
                                                <div class="col-sm-6">
                                                    <img src="{{ asset('/dossierFichiers/' ~ news.picturenews)}}" alt="Image" class="img-responsive smoothie">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>    

                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="col-sm-4 col-sm-offset-4">
                        <div class="text-center">        
                            <a class="btn btn-primary mt30 btn-lg btn-block" href="/zone/admin/news/delete/{{news.id}}">Supprimer</a>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </section>

{% endblock %}