<h1>Look sélectionné:</h1>

<ul>
    <li>{{look.id}} </li>
    <li>{{look.idstyle.id}} | {{look.idstyle.typestyle}} </li>
    <li>{{look.picture}} </li>
    <li>{{look.likes}} </li>
    <li>{{look.description}} </li>
</ul>

<a class="btn" href="/zone/admin/looks/delete/{{look.id}}">Supprimer</a>
