{% extends 'base.html.twig' %}

{% block title %}Eddy's Admin | News{% endblock %}


{% block body %}


    <section class="white-wrapper">
        <div class="section-inner">
            <div class="container">
                <div class="row mb60 text-center">
                    <div class="col-sm-12">
                        <h3 class="section-title">Toutes les news</h3>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row mb40">

                    <div class="col-sm-4 col-sm-offset-4">
                        <div class="text-center">        
                            <a class="btn btn-primary mt30 btn-lg btn-block" href={{"/zone/admin/news/creation"}}>Add News</a>
                        </div>
                        <br>
                        <br>
                        <br>
                    </div>

                    <div class="container">
                        <div class="row mb40">

                            <table class="table table-striped">
                                <thead style="background-color: #333; color: white">
                                    <tr>
                                        <th scope="col">Id</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Accroche</th>
                                        <th scope="col">Titre</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>

                                <tbody>

                                    {% for valeur in lesnews|reverse %}

                                        <tr>
                                            <th scope="row">{{valeur.id}} </th>
                                            <td>{{valeur.datenews|date('d/m/Y')}}</td>
                                            <td>{{valeur.accroche}}</td>
                                            <td>{{valeur.titre}}</td>                                         
                                            <td>        
                                                <a class="btn" href="/zone/admin/news/one/{{valeur.id}}">Détails</a>
                                            </td>
                                        </tr>                           
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    {#
                        {% for valeur in lesnews|reverse %}
                        <ul>
                            <li>{{valeur.id}} </li>
                            <li>{{valeur.titre}} </li>
                            <li>{{valeur.accroche}} </li>
                            <li>{{valeur.textnews}} </li>
                            <li>{{valeur.datenews |date('d/m/Y')}} </li>
                            <li>{{valeur.picturenews}} </li>

                            <a class="btn" href="/zone/admin/news/one/{{valeur.id}}">Modifier</a>
                        </ul>
                    {% endfor %}
    #}
{% endblock %}