{% extends 'base.html.twig' %}

{% block title %}Eddy's Admin | Looks{% endblock %}


{% block body %}

    <section class="white-wrapper">
        <div class="section-inner">
            <div class="container">
                <div class="row mb60 text-center">
                    <div class="col-sm-12">
                        <h3 class="section-title">Tous les looks</h3>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row mb40">

                    <div class="col-sm-4 col-sm-offset-4">
                        <div class="text-center">        
                            <a class="btn btn-primary mt30 btn-lg btn-block" href={{"/zone/admin/looks/creation"}}>Add Look</a>
                        </div>
                        <br>
                        <br>
                        <br>
                    </div>



                    <table class="table table-striped">
                        <thead style="background-color: #333; color: white">
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Date Création</th>
                                <th scope="col">Nom</th>
                                <th scope="col">Type de Style</th>
                                <th scope="col">Likes</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>

                        <tbody>

                            {% for valeur in leslooks|reverse %}

                                <tr>
                                    <th scope="row">{{valeur.id}} </th>
                                    <td>{{valeur.datelook|date('d/m/Y')}}</td>
                                    <td>{{valeur.description}}</td>
                                    <td>{{valeur.idstyle.typestyle}}</td>
                                    <td>{{valeur.likes}}</td>
                                    <td>        
                                        <a class="btn" href="/zone/admin/looks/one/{{valeur.id}}">Détails</a>
                                    </td>
                                </tr>                           
                            {% endfor %}

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </section>
{% endblock %}
