{% extends 'base.html.twig' %}

{% block title %}Eddy's Admin | Concours Creation{% endblock %}

{% block body %}


    <section class="white-wrapper">
        <div class="section-inner">
            <div class="container">
                <div class="row mb60 text-center">
                    <div class="col-sm-12">
                        <h3 class="section-title">Concours création</h3>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row mb40">



                    <div class="col-sm-9 col-sm-offset-2">
                        {{ form_start (formulaireConcours) }}

                        <div class="col-sm-12">
                            <div class="col-sm-4 text-uppercase text-muted">
                                {{ form_label(formulaireConcours.theme) }}
                            </div>
                            <div class="col-sm-7 text-uppercase text-muted">
                                {{ form_widget(formulaireConcours.theme, { 'attr': {'class': 'form-control col-md-4 mb20'} }) }}
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="col-sm-4 text-uppercase text-muted">
                                {{ form_label(formulaireConcours.comment_concours) }}
                            </div>
                            <div class="col-sm-7 text-uppercase text-muted">
                                {{ form_widget(formulaireConcours.comment_concours, { 'attr': {'class': 'form-control col-md-4 mb20'} }) }}
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="col-sm-4 text-uppercase text-muted">
                                {{ form_label(formulaireConcours.date_debut) }}
                            </div>
                            <div class="col-sm-7 text-uppercase text-muted">
                                {{ form_widget(formulaireConcours.date_debut, { 'attr': {'class': 'form-control col-md-4 mb20'} }) }}
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="col-sm-4 text-uppercase text-muted">
                                {{ form_label(formulaireConcours.date_fin) }}
                            </div>
                            <div class="col-sm-7 text-uppercase text-muted">
                                {{ form_widget(formulaireConcours.date_fin, { 'attr': {'class': 'form-control col-md-4 mb20'} }) }}
                            </div>
                        </div>

                    </div>

                    <div class="col-sm-10 col-sm-offset-1 nopaddingleftright">

                        <div class="col-sm-12 text-center">
                            <div class="col-sm-12 text-uppercase text-muted text-center">
                                <br>
                                <br>
                                <h3>{{ form_label(formulaireConcours.looks) }}</h3>
                                <br>
                                <br>
                            </div>
                            <div id="lookchoice" class="col-sm-12 text-uppercase text-muted text-center">
                                {#{ form_widget(formulaireConcours.looks, { 'attr': {'class': ' col-md-4 mb20'} }) }#}
                                {% for child in formulaireConcours.looks %}
                                    <!--mettre taille par défaut pour que si descr/img trop longue ne patrent pas partout? -->
                                    <div class="col-sm-3 text-center">

                                        <div class="col-sm-12 nopaddingbottom ">
                                            {{ form_label(child) }}
                                        </div>
                                        <div class="col-sm-12">
                                            {{ form_widget(child) }}
                                            {{lookdesc[loop.index0]}}
                                            <div class="col-sm-12">
                                                <br>
                                                <br>                                          
                                            </div>
                                        </div>

                                    </div>

                                {% endfor %}
                            </div>
                        </div>


                    </div>

                    <div class="col-sm-12 text-center">
                        <div class="col-sm-4 col-sm-offset-4">
                            <div class="text-center">    
                                <br> 
                                <br>
                                <input type="submit" class="btn btn-primary mt30 btn-lg btn-block" value="Envoyer" />
                            </div>
                        </div>
                        {{ form_end (formulaireConcours) }}

                    </div>



                    {#
                    
                    
                    {{ form_start (formulaireConcours) }}

                    <br>
                    <br>
                    {{ form_row(formulaireConcours.theme)}}
                    {{ form_row(formulaireConcours.date_debut)}}
                    {{ form_row(formulaireConcours.date_fin)}}
                    {{ form_row(formulaireConcours.date_fin)}}
                    {{ form_row(formulaireConcours.comment_concours)}}
                    {{ form_row(formulaireConcours.looks)}}


                    <input type="submit" class="btn" value="Envoyer" />
                    {{ form_end (formulaireConcours) }}

                    #}


                </div>
            </div>
        </div>
    </section>

{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script>

        var labelinputoptions = document.querySelectorAll('#lookchoice label');
        {#console.log(labelinputoptions[0].textContent);#}

            for (let i = labelinputoptions.length - 1; i >= 0; i--) {
                var imgchoix = '<img src="/dossierFichiers/' + labelinputoptions[i].textContent + '" alt="Image" class="img-responsive smoothie">';
        {#console.log(imgchoix);#}
                labelinputoptions[i].innerHTML = imgchoix;
            }

    </script>
    {# put additional JS here #}
{% endblock %}