{% extends 'base.html.twig' %}

{% block title %}Eddy's Admin{% endblock %}

{% block body %}
    <section class="white-wrapper">
        <div class="section-inner">
            <div class="container">
                <div class="row mb60 text-center">
                    <div class="col-sm-12">
                        <h3 class="section-title">Zone Admin</h3>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row mb40">
                    <div class="col-sm-4 col-sm-offset-4">
                        <div class="text-center">        
                            <a class="btn btn-primary mt30 btn-lg btn-block" href={{"/zone/admin/concours/all"}}>Concours</a>
                        </div>
                        <br>
                        <div class="text-center">        
                            <a class="btn btn-primary mt30 btn-lg btn-block" href={{"/zone/admin/fans/all"}}>Fans</a>
                        </div>
                        <br>
                        <div class="text-center">        
                            <a class="btn btn-primary mt30 btn-lg btn-block" href={{"/zone/admin/looks/all"}}>Looks</a>
                        </div>
                        <br>
                        <div class="text-center">        
                            <a class="btn btn-primary mt30 btn-lg btn-block" href={{"/zone/admin/news/all"}}>News</a>
                        </div>
                        <br>
                        <div class="text-center">        
                            <a class="btn btn-primary mt30 btn-lg btn-block" href={{"/zone/admin/styles/all"}}>Styles</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}
