{% extends 'base.html.twig' %}

{% block title %}Eddy's Admin | Look Creation{% endblock %}


{% block body %}

    <section class="white-wrapper">
        <div class="section-inner">
            <div class="container">
                <div class="row mb60 text-center">
                    <div class="col-sm-12">
                        <h3 class="section-title">Look création</h3>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row mb40">



                    <div class="col-sm-9 col-sm-offset-2">
                        {{ form_start (formulaireLook) }}

                        <div class="col-sm-12">
                            <div class="col-sm-4 text-uppercase text-muted">
                                {{ form_label(formulaireLook.description) }}
                            </div>
                            <div class="col-sm-7 text-uppercase text-muted">
                                {{ form_widget(formulaireLook.description, { 'attr': {'class': 'form-control col-md-4 mb20'} }) }}
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="col-sm-4 text-uppercase text-muted">
                                {{ form_label(formulaireLook.descr_long) }}
                            </div>
                            <div class="col-sm-7 text-uppercase text-muted">
                                {{ form_widget(formulaireLook.descr_long, { 'attr': {'class': 'form-control col-md-4 mb20'} }) }}
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="col-sm-4 text-uppercase text-muted">
                                {{ form_label(formulaireLook.id_style) }}
                            </div>
                            <div class="col-sm-7 text-uppercase text-muted">
                                {{ form_widget(formulaireLook.id_style, { 'attr': {'class': 'form-control col-md-4 mb20'} }) }}
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="col-sm-4 text-uppercase text-muted">
                                {{ form_label(formulaireLook.date_look) }}
                            </div>
                            <div class="col-sm-7 text-uppercase text-muted">
                                {{ form_widget(formulaireLook.date_look, { 'attr': {'class': 'form-control col-md-4 mb20'} }) }}
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="col-sm-4 text-uppercase text-muted">
                                {{ form_label(formulaireLook.picture) }}
                            </div>
                            <div class="col-sm-7 text-uppercase text-muted">
                                {{ form_widget(formulaireLook.picture, { 'attr': {'class': 'form-control col-md-4 mb20'} }) }}
                            </div>
                        </div>

                    </div>

                    <div class="col-sm-12 text-center">
                        <div class="col-sm-4 col-sm-offset-4">
                            <div class="text-center">    
                                <br> 
                                <br>
                                <input type="submit" class="btn btn-primary mt30 btn-lg btn-block" value="Envoyer" />
                            </div>
                        </div>
                        {{ form_end (formulaireLook) }}
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}