{% extends 'base.html.twig' %}

{% block title %}Eddy's Admin | News Creation{% endblock %}


{% block body %}


    <section class="white-wrapper">
        <div class="section-inner">
            <div class="container">
                <div class="row mb60 text-center">
                    <div class="col-sm-12">
                        <h3 class="section-title">News création</h3>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row mb40">


                    {{ form_start (formulaireNews) }}

                    <br>
                    <br>
                    {{ form_row(formulaireNews.titre)}}
                    {{ form_row(formulaireNews.accroche)}}
                    {{ form_row(formulaireNews.text_news)}}
                    {{ form_row(formulaireNews.date_news)}}
                    {{ form_row(formulaireNews.picture_news)}}


                    <input type="submit" class="btn" value="Envoyer" />
                    {{ form_end (formulaireNews) }}

                </div>
            </div>
        </div>
    </section>

{% endblock %}