{% extends 'base.html.twig' %}

{% block title %}Eddy's Admin | Style Creation{% endblock %}

{% block body %}


    <section class="white-wrapper">
        <div class="section-inner">
            <div class="container">
                <div class="row mb60 text-center">
                    <div class="col-sm-12">
                        <h3 class="section-title">Style création</h3>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row mb40">

                    <div class="col-sm-9 col-sm-offset-3">

                        {{ form_start (formulaireStyle) }}
                        <div class="col-sm-12">
                            <div class="col-sm-3 text-uppercase text-muted">
                                {{ form_label(formulaireStyle.type_style) }}
                            </div>
                            {#{{ form_row(formulaireStyle.type_style)}}#}
                            <div class="col-sm-6 text-uppercase text-muted">
                                {{ form_widget(formulaireStyle.type_style, { 'attr': {'class': 'form-control col-md-4 mb20'} }) }}:
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 text-center">
                        <div class="col-sm-4 col-sm-offset-4">
                            <div class="text-center">    
                                <br> 
                                <input type="submit" class="btn btn-primary mt30 btn-lg btn-block" value="Envoyer" />
                            </div>
                        </div>
                        {{ form_end (formulaireStyle) }}

                    </div>

                </div>
            </div>
        </div>
    </section>

{% endblock %}